/*
   layout.css   
   Created by Andy on 2017-03-28
*/

body {
	background-color:#f0f1f4;
}

.container{
	width:100%;
}
.w100{width: 100%;}
.mid {
	margin:0 auto;width:1200px;
}

h1, h2, h3, em, i, th, caption, cite, code, address{font-style: normal; font-weight: normal;}

.align-l{text-align: left!important;} .align-c{text-align: center!important;} .align-r{text-align: right!important;}
.v__top{vertical-align: top!important;} .v__middle{vertical-align: middle!important;}
.max-img{display:block;margin:0 auto;max-width:100%;vertical-align:top;}

/* __ a标签无阴影 */
a{outline:none;text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());} /*IE*/
a:focus{outline:none;} /*FF*/

/* __ 设置间距 */
.mt--10{margin-top:10px!important;}.mt--12{margin-top:12px!important;}.mt--20{margin-top:20px!important;}.mt--25{margin-top:25px!important;}.mt--30{margin-top:30px!important;}.mt--35{margin-top:35px!important;}
.mt--50{margin-top:50px!important;}.mt--60{margin-top:60px!important;}.mt--70{margin-top:70px!important;}.mt--80{margin-top:80px!important;}.mt--90{margin-top:90px!important;}.mt--100{margin-top:100px!important;}
.ml--10{margin-left:10px!important;}.ml--12{margin-left:12px!important;}.ml--15{margin-left:15px!important;}.ml--20{margin-left:20px!important;}.ml--30{margin-left:30px!important;}.ml--50{margin-left:50px!important;}
.mr--10{margin-right:10px!important;}.mr--12{margin-right:12px!important;}.mr--15{margin-right:15px!important;}.mr--20{margin-right:20px!important;}.mr--30{margin-right:30px!important;}.mr--50{margin-right:50px!important;}

/* __ 设置全局颜色 */
.bg--fff{background-color:#fff!important;}
.bg--f8f8f8{background-color:#f8f8f8!important;}
.bg--f2f2f2{background-color:#f2f2f2!important;}
.bg--ccc{background-color:#ccc!important;}
.bg--aaa{background-color:#aaa!important;}

/* --- */
.c--fff{color: #fff!important;}
.c--ccc{color:#ccc!important;}
.c--999{color:#999!important;}
.c--333{color:#333!important;}

/* __ 字体设置 */
.ff-vd{font-family:Verdana;}
.ff-gg{font-family:Georgia;}
.ff-hv{font-family:Helvetica;}
.ff-ss{font-family:sans-serif;}
.ff-ms{font-family:"Microsoft Yahei";}
.ff-ar{font-family:Arial;}
.ff-ab{font-family:Arial Black;}

.fs12{font-size:12px;}.fs14{font-size:14px;}.fs15{font-size:15px;}.fs16{font-size:16px;}.fs18{font-size:18px;}.fs20{font-size:20px;}.fs24{font-size:24px;}.fs28{font-size:28px;}

.transit{transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;}
.disabled-control{
	background-color:#bbb!important;cursor:not-allowed!important;
}
input[disabled], input[readonly], button[disabled], button[readonly], select[disabled], select[readonly], textarea[readonly], textarea[disabled]{
	background-color:#ccc!important;cursor:not-allowed!important;
}
input[disabled]:hover, input[readonly]:hover, button[disabled]:hover, button[readonly]:hover, select[disabled]:hover, select[readonly]:hover, textarea[readonly]:hover, textarea[disabled]:hover{
	background-color:#ccc!important;
}

/* 清除浮动 */
.clearfix{_zoom:1; /*height:1%;*/}
.clearfix:after{content:""; clear: both; display:block;}
* html .clearfix { /* for IE6 */
	display: inline-block;
}
* + html .clearfix { /* for IE7 */
	display: inline-block;
}
/* 或者 */
.cls{clear:both; line-height:0px!important; height:0px!important;font-size:0px!important;}

/* 文字省略 */
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* __ 按钮默认样式 */
.btn_def{
	background-color:#2093f7;border-radius:3px;color:#fff;display:inline-block;font-size:15px;text-align:center;padding:0 48px;line-height:36px;
	transition:background-color .4s;-webkit-transition:background-color .4s;-moz-transition:background-color .4s;
}
.btn_def:hover{background-color:#35a0fe;}


.zone__rt-similar{background:#fff;padding:35px 65px 35px 0;}
.zone__rt-similar .hd-tit{border-bottom:1px solid #e7e7e7;padding-bottom:20px;}
.zone__rt-similar .hd-tit.un_bor{border-bottom:0 none;}
.zone__rt-similar .hd-tit h2{color:#333;font-size:24px;}
.zone__rt-similar .hd-tit h2 i{background:#2093f7;display:inline-block;margin-top:5px;margin-right:10px;vertical-align:top;height:24px;width:3px;}

/* …… 酒店管理-服务设施页面 {{{ …… */
.zone__serviceFacility{margin-top:10px;}
.zone__serviceFacility .filter-item{border:1px solid #e7e7e7;}
.filter-item .row-sel{border-top:1px solid #e7e7e7;}
.filter-item .row-sel.first{border-top:0 none;}
.filter-item .row-sel .sel-wrap{padding:15px 0;line-height:30px;position:relative;}
.filter-item .row-sel .lt-key{float:left;white-space:nowrap;overflow:hidden;width:130px;}
.filter-item .row-sel .lt-key span{color:#666;font-size:14px;padding-left:40px;}
.filter-item .row-sel .md-list{margin-left:140px;padding-right:130px; overflow:hidden;zoom:1;}
.filter-item .row-sel .md-list ul{float:left; overflow:hidden;zoom:1; height:30px; position:relative;}
.filter-item .row-sel .md-list ul li{color:#333;float:left;font-size:14px;margin-right:30px;height:30px;line-height:30px;}
.filter-item .row-sel .rt-btn{position:absolute;right:40px;top:12px;}
.filter-item .row-sel .rt-btn .btn-multiple{border:1px solid #e7e7e7;border-radius:2px;color:#666;display:block;font-size:14px;text-align:center;line-height:34px;width:100px;}
.filter-item .row-sel .rt-btn .btn-multiple i{background:url(../images/icon-multiple-sel.png) no-repeat 0 -2px;display:inline-block;vertical-align:top;margin:12px 7px 0 0;height:12px;width:12px;}
.filter-item .row-sel .rt-btn .btn-multiple:hover{background:#f7f7f7;border-color:#2093f7;color:#2093f7;}
.filter-item .row-sel .rt-btn .btn-multiple:hover i{background-position:-16px -2px;}
.filter-item .row-sel .rt-btn .btn-multiple.on{background:#f7f7f7;border-color:#2093f7;color:#2093f7;}
.filter-item .row-sel .rt-btn .btn-multiple.on i{background-position:-33px -7px; margin-top:17px;}
/* 多选区域 */
.filter-item .row-sel .sel-multiple{border-top:1px solid #e7e7e7; background:#f7f7f7;padding-left:140px;padding-bottom:20px;}
.filter-item .row-sel .sel-multiple li{color:#333;cursor:pointer;float:left;font-size:14px;margin-top:18px;line-height:22px;width:160px;}
.filter-item .row-sel .sel-multiple li i{background:url(../images/icon-multiple-sel.png) no-repeat -51px 0;display:inline-block;vertical-align:top;margin:3px 7px 0 0;height:16px;width:16px;}
.filter-item .row-sel .sel-multiple li.selected i{background-position:-70px 0;}
.zone__serviceFacility .ft-btns{margin-top:30px;}
.zone__serviceFacility .ft-btns .btn_def{line-height:48px;padding:0;width:160px;}
/* }}} */


/* …… 会员中心-子账号管理页面 {{{ …… */
.zone__manageSubAccount .main__cont{width:100%;}
.main__cont .cont-wrapper{margin-right:240px;}
.zone__manageSubAccount .sidebar__menu{border:1px solid #e7e7e7;margin-left:-240px;width:220px; position:relative;}
.sidebar__menu .items li{border-bottom:1px solid #f2f2f2;display:inline;float:left;line-height:50px;width:100%; position:relative;}
.sidebar__menu .items li a{background:#fff;color:#000;display:block;font-size:16px;padding-left:30px;}
.sidebar__menu .items li a .num{color:#b2b2b2; font-size:12px; margin-left:5px;}
.sidebar__menu .items li .btn{display:none;position:absolute;top:6px;right:8px;}
.sidebar__menu .items li .btn .edit, .sidebar__menu .items li .btn .del{
	background: url(../images/sugar.png) no-repeat -42px -6px;
	cursor:pointer;display:inline-block;height:20px;width:18px;
}
.sidebar__menu .items li .btn .del{background-position: -80px -5px; margin-left:5px;}
.sidebar__menu .items li a:hover{background:#f7f7f7;}
.sidebar__menu .items li a:hover .btn{display:block;}
/*底部按钮*/
.sidebar__menu .btns{padding:20px 10px;}
.sidebar__menu .btns a{border:1px dashed #d7d7d7;color:#666;display:block;font-size:16px;text-align:center;height:40px;line-height:40px;}
.sidebar__menu .btns a i{
	background: url(../images/icon-multiple-sel.png) no-repeat 0 -2px;
	display: inline-block;margin: 15px 10px 0 0;height: 12px; width: 12px;
}
.sidebar__menu .btns a:hover{border-color:#2093f7;color:#2093f7;}
.sidebar__menu .btns a:hover i{background-position:-16px -2px;}
/* }}} */

/* :::弹窗样式(会员中心-子账号管理) */
.dlg-popup .mask-inner .main-box{border:0 none!important;}
.dlg-popup .mask-inner .main-box th{width:auto;}
.dlg-popup .mask-inner .main-box td.error{color:#f00;}
.dlg-popup .mask-inner .main-box td.error input{border-color:#f00;color:#f00;}
.dlg-popup .input-250{width:260px!important;}
.dlg-popup .select-control{background:#f9f9f9;border:1px solid #ebebeb;border-radius:3px;text-indent:10px;outline:0;height:33px;width:260px;}
.dlg-popup .btn-sendCode{background:#ff6600;border-radius:3px;color:#fff;display:inline-block;padding:0 10px;line-height:32px;}
.dlg-popup .btn-sendCode.disabled{background:#e7e7e7;color:#666;padding:0 20px;}
.dlg-popup .dlg-main{position:absolute; left:50%; top:50%;}
.dlg-createAccount .dlg-main{margin:-300px 0 0 -260px;height:600px;width:520px;}
.dlg-createAccount .dlg-main .main-box{overflow-y:auto;height:550px;}
.dlg-createDpt .dlg-main{margin:-230px 0 0 -260px;height:500px;width:520px;}
.dlg-createDpt .dlg-main .main-box{overflow-y:auto;height:420px;}
.dlg-editLgPwd .dlg-main, .dlg-editPayPwd .dlg-main{margin:-160px 0 0 -260px;height:320px;width:520px;}
.dlg-forgetPwd .dlg-main, .dlg-forgetPayPwd .dlg-main{margin:-130px 0 0 -260px;height:260px;width:520px;}
.dlg-moveDpt .dlg-main{margin:-200px 0 0 -170px;height:350px;width:340px;}
.dlg-moveDpt .dlg-main .main-box{overflow-y:auto;height:350px;}
.dlg-delSubAccount .dlg-main{margin:-75px 0 0 -150px;height:150px;width:300px;}

/* 分组 */
.dlg-popup .group-list{margin-left:20px;}
.dlg-popup .group-list ul li{display:inline;float:left;font-size:14px; margin-bottom:15px;line-height:16px;width:46%;}
.dlg-popup .group-list ul li i{
	background:url(../images/icon-multiple-sel.png) no-repeat -51px 0;
	display:inline-block;margin-right:10px;vertical-align:top;height:16px;width:16px;
}
.dlg-popup .group-list ul li.on i{background-position: -70px 0;}

/* 树菜单选择 */
.tree-choose{background:#f9f9f9;border:1px solid #ebebeb; height:240px;width:370px; position:relative;}
.tree-choose .tree-inner{padding:20px;overflow-y:auto;height:200px;}
.tree-choose .tree-inner dl{}
.tree-choose .tree-inner dl dt{color:#666;font-size:14px;font-weight:700;line-height:16px;}
.tree-choose .tree-inner dl dt i{
	background:url(../images/icon-multiple-sel.png) no-repeat -51px 0;
	display:inline-block;margin-right:10px;vertical-align:top;height:16px;width:16px;
}
.tree-choose .tree-inner dl dt.on i{background-position: -70px 0;}
.tree-choose .tree-inner dl dd{border-left:1px solid #d7d7d7; margin-left:8px;padding:5px 0 20px;}
.tree-choose .tree-inner dl dd a{color:#666;display:block;font-size:14px;margin-top:10px;line-height:16px; position:relative;}
.tree-choose .tree-inner dl dd a .line{border-bottom:1px solid #d7d7d7;display:inline-block;margin-top:-5px;vertical-align:middle;height:1px;width:20px;}
.tree-choose .tree-inner dl dd a i{
	background:url(../images/icon-multiple-sel.png) no-repeat -51px 0;
	display:inline-block;margin-right:10px;vertical-align:top;height:16px;width:16px;
}
.tree-choose .tree-inner dl dd a.checked i{background-position: -70px 0;}
